GRAFICO_8086/Backup Of lcd.pdsbak
GRAFICO_8086/Last Loaded lcd.pdsbak
GRAFICO_8086/lcd.pdsprj.tcpipchip-PC.tcpipchip.workspace
GRAFICO_8086/lcd.pdsprj.FURB.maw.workspace
GRAFICO_8086/.rsrc/
GRAFICO_8086/.data
